
<body class="sub_page">
  <app-header></app-header>
  <div class="container-fluid layout_paddingRA">

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 ">

          <div class="form-group ">
            <label for="dia">Dia de la rutina </label>
            <input type="date" class="form-control" id="date" name="date" [(ngModel)]="rutine.date" placeholder="Introduce la fecha de la rutina">
          </div>
          <div class="form-group ">
            <label for="name">Nombre de la rutina </label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="rutine.name"
              placeholder="Introduce el nombre de la rutina">
          </div>
          <div class="form-group">
            <label for="tiempo">Tiempo de entrenamiento:</label>
            <input type="number" class="form-control" id="time" name="time" [(ngModel)]="rutine.time"
              placeholder="Introduce el tiempo en minutos">

          </div>



            <label for="exercises">Ejercicios:</label>
            <div>
            <div style="position: relative; display: inline-block;" *ngFor="let ex of rutine.exercises">
            <input type="text"  style="width: 200px" class="form-control" placeholder="{{ex.exercise}}" readonly style="margin-right: 10px;">
            <a href="/deleteExRutine/"  style="position: absolute; top: 0; right: 0;">
              <button class="btn" type="button" >
                  <i class="bi bi-trash"></i>
              </button>
           </a>
            <span style="margin: 0 10px;"></span>
          </div>

          </div>
          <div class="btn-box">

            <button class="btnS" id="save" type="submit" (click)="newRutine($event)">
              Finalizar
            </button>

        <span style="margin: 0 10px;"></span>
        <a (click)="saveRutine($event)">
          <button class="btnS" id="addEj" type="button">
            Añadir ejercicio
          </button>
        </a>
      </div>
      <div class="btn-box"></div>

      <a (click) = "cancel($event)">
        <button class="btnC">
          Cancelar
        </button>
      </a>

    </div>
  </div>
  </div>
  <div class="col-md-2"></div>

</body>


