<app-header></app-header>
<div class="container-fluid">
  <div class="hero_bg_box">
    <div class="img-box">
     <img src="assets/images/friend.jpg" alt="">
    </div>
  </div>
  <div class="container-search">
      <div class="d-flex">
          <input id="searchInput" class="search1 me-2" type="text" (input)="search($event)"
              placeholder="Buscar usuario">
          <button class="search-btn1" type="button" (click)="searchValueInput()"><i
                  class="bi bi-search"></i></button>
      </div>
      <div id="friend-container" class="friend-container">

          <ul class="friend-list">
          </ul>
      </div>

  </div>



  <div class="container-friendlist">
      <h2 class="title-friendlist">AMIGOS</h2>
      <ul id="list-group" class="list-group">


      </ul>
  </div>
<!--  <input type="hidden" name="_csrf" value="{{token}}"/> -->

</div>
