  <div  *ngIf="showComponent" class="hero_area">
    <div class="hero_bg_box">
      <div class="img-box">
        <img src="assets/images/portada.jpg" alt="">
      </div>
    </div>

    <section class=" slider_section ">
      <div class="container">
        <br>
        <br>
        <div class="row">
          <div class="col-md-7">
            <div class="detail-box">
              <h1>
                <span>Gymguru </span> <br>
              </h1>
              <p>
                Tu camino hacia la grandeza comienza con cada repetición
              </p>
              <section class="contact_section layout_paddingI">
                <div class="contact_bg_box">
                </div>
                <div class="container3">
                  <div class="heading_container heading_center">
                    <h2>
                      Únete
                    </h2>
                  </div>
                  <div class="">
                    <div class="row">
                      <div class="col-md-7 mx-auto">
                        <form action="/index" method="post">
                          <div class="contact_form-container">
                            <div>
                              <div>
                                <input type="text" name="username" placeholder="Usuario" />
                              </div>
                              <div>
                                <input type="password" name="password" placeholder="Contraseña " />
                              </div>
                             <!-- <input type="hidden" name="_csrf" value="{{token}}" />-->
                              <div class="row text-center aling-items-center">
                                <div class="btn-box">
                                  <button type="submit" class="btn-2">
                                    Iniciar Sesión
                                  </button>
                                  <span style="margin: 0 10px;"></span>
                                </div>

                              </div>
                              <div>
                                <p class="guest2"> Accede como <a class="guest" (click)="showComponent = false" routerLink='mainPage'>Invitado</a> </p>
                              </div>
                              <div>
                                <p class="reg">¿No tienes cuenta? Regístrate <a class="reg2" href="/newUser">aquí</a>
                                </p>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
</section>
</div>
<router-outlet></router-outlet>
