<app-header [searchOptions]="{ search: false, search2: true, admin: admin}"></app-header>
<div class="content">
  <div class="hero_bg_box">
    <div class="img-box">
      <img src="assets/images/gimnasio.jpg" alt="">
    </div>
  </div>

  <div class="container-calendarR">

      <div class="container-calendar">

          <div class="calendar-header">
              <button class="btn leftDate" onclick="previous()">&lt; </button>
              <h1 class="title-calendar">RUTINAS CALENDARIO</h1>
              <button class="btn rightDate" onclick="next()">&gt;</button>
          </div>


          <div class="container-days">
              <ul class="calendar">
                 <li  class="day-pair">
                      <div class="grid-date">
                          <div class=" day-name"></div>
                          <div class="day-number"></div>
                      </div>
                      <div class="grid-date day-calendary-content">

                      </div>
                  </li>
                  <li  class="day-pair">

                      <div class="grid-date">
                          <div class=" day-name"></div>
                          <div class="day-number"></div>
                      </div>
                      <div class="grid-date day-calendary-content">
                          </div>

                  </li>
                  <li  class="day-pair">

                      <div class="grid-date">
                          <div class=" day-name"></div>
                          <div class="day-number"></div>
                      </div>
                      <div class="grid-date day-calendary-content">
                          </div>

                  </li>

                  <li class="day-pair">

                      <div class="grid-date">
                          <div class=" day-name"></div>
                          <div class="day-number"></div>
                      </div>
                      <div class="grid-date day-calendary-content">
                        </div>

                  </li>
                  <li  class="day-pair">

                      <div class="grid-date">
                          <div class=" day-name"></div>
                          <div class="day-number"></div>
                      </div>
                      <div class="grid-date day-calendary-content">
                          </div>

                  </li>
                  <li  class="day-pair">

                      <div class="grid-date">
                          <div class=" day-name"></div>
                          <div class="day-number"></div>
                      </div>
                      <div class="grid-date day-calendary-content">
                          </div>

                  </li>

                  <li  class="day-pair">
                      <div class="grid-date">
                          <div class=" day-name"></div>
                          <div class="day-number"></div>
                      </div>
                      <div class="grid-date day-calendary-content">
                      </div>
                  </li>
              </ul>
          </div>

      </div>
      <div class="container-routine">
          <a [routerLink]="['/addRutine']">
          <button  class="btn boton-rutine">Añadir Rutina</button>
          </a>
      </div>
  </div>

  <div class="news mt-4 mb-3">
      <h2 class="scrolling-text">Últimas novedades </h2>
  </div>

  <div id="container-news" class="container-news">

  </div>

  <div id="spinner-container" class="spinner-container mb-2">
      <div class="spinner"></div>
  </div>

  <div id="container-loadMore" class="container-loadMore">
      <button class="btn btn-loadMore" onclick="loadMoreFoo()">Cargar Mas</button>
  </div>



</div>
<!--<input type="hidden" name="_csrf" value="{{token}}"/>-->
