<body class="layout_paddingF">
  <div class="row">
  </div>
  <div class="container-fluid ">
    <a [routerLink]="['/mainPage']">
      <button class="btnC">
        Volver
      </button>
    </a>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 ">
        <section class="formAd" id="formulario"  enctype="multipart/form-data">
          <div class="form-group ">
            <label for="name">Nombre del ejercicio: </label>
            <input [(ngModel)]="exercise.name" type="text" class="form-control"
              placeholder="Introduce el nombre del ejercicio">
          </div>
          <div class="form-group">
            <label for="description">Descripción del ejercicio:</label>
            <textarea class="form-control" name="description" id="description" rows="3"
              placeholder="Introduce una descripción del ejercicio" [(ngModel)]="exercise.description"></textarea>
          </div>
          <div class="form-group ">
            <label for="image">Imagen: </label>
            <input type='file' #image accept=".jpg, .jpeg, .png, .HEIC" id="image">
          </div>

          <div class="form-group">
            <label for="video">URL del video (opcional):</label>
            <input type="url" class="form-control" id="video" [(ngModel)]="exercise.video"
              placeholder="Introduce la URL de un video explicativo">
          </div>
          <div class="form-group">
            <label for="grp">Grupo muscular </label>
            <select class="form-select form-control" id="grp" name="grp" [(ngModel)]="exercise.grp">
              <option>Pecho</option>
              <option>Espalda</option>
              <option>Hombro</option>
              <option>Biceps</option>
              <option>Triceps</option>
              <option>Inferior</option>
              <option>Cardio</option>
            </select>
          </div>
          <div class="btn-box">
            <button class="btnS" type="submit" (click)="addExercise($event)">
              CREAR
            </button>
            <span style="margin: 0 10px;"></span>
          </div>

        </section>

      </div>
      <div class="col-md-2"></div>
    </div>

  </div>
</body>
