<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  

  <title>muscleGroup</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/css/responsive.css" rel="stylesheet" />
  <script src="/js/app.js"></script>
</head>

<body class="sub_page">
  {{>header}}
    <div class="container-fluid layout_paddingER">
      
        <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 ">
          <form role="form" class="formAd" action="/addExRutine/{{id}}" method="post">
            
            <div class="form-group">
              <label for="grupo">Grupo muscular </label>
              <select class="form-select form-control" id="grupo" name="grupo" onchange="changeEx()">
                  <option>Pecho</option>
                  <option>Espalda</option>
                  <option>Hombro</option>
                  <option>Biceps</option>
                  <option>Triceps</option>
                  <option>Inferior</option>
                  <option>Cardio</option>
              </select>
          </div>
          <div class="form-group">
            <label for="nombre">Nombre del ejercicio:</label>
              <select class="form-select form-control" id="Pecho" name="pecho">
                  {{#pecho}}
                  <option>{{name}}</option>
                  {{/pecho}}
                  
              </select>
        </div>
        <div class="form-group">
         
            <select class="form-select form-control" id="Espalda" name="espalda" style="display: none;">
                {{#espalda}}
                <option>{{name}}</option>
                {{/espalda}}
                
            </select>
      </div>
      <div class="form-group">
        
          <select class="form-select form-control" id="Hombro" name="hombro" style="display: none;">
              {{#hombro}}
              <option>{{name}}</option>
              {{/hombro}}
              
          </select>
    </div>
    <div class="form-group">
      
        <select class="form-select form-control" id="Biceps" name="biceps"style="display: none;">
            {{#biceps}}
            <option>{{name}}</option>
            {{/biceps}}
            
        </select>
  </div>
  <div class="form-group">
    
      <select class="form-select form-control" id="Triceps" name="triceps" style="display: none;">
          {{#triceps}}
          <option>{{name}}</option>
          {{/triceps}}
          
      </select>
</div>
<div class="form-group">
 
    <select class="form-select form-control" id="Inferior" name="inferior" style="display: none;">
        {{#inferior}}
        <option>{{name}}</option>
        {{/inferior}}
        
    </select>
</div>
<div class="form-group">

    <select class="form-select form-control" id="Cardio" name="cardio" style="display: none;">
        {{#cardio}}
        <option>{{name}}</option>
        {{/cardio}}
        
    </select>
</div>
          <div class="form-group">
            <label for="series">Series x repetición:</label>
            <input type="series" class="form-control" id="series" name="series" placeholder="Introduce las series X repetición">
        </div>

        <div class="form-group">
          <label for="peso">Peso:</label>
          <input type="peso" class="form-control" id="peso" name="peso" placeholder="Introduce el peso en Kg">
      </div>
              <div class="btn-box"  >
                <button class="btnS" type="submit">
                  GUARDAR
                </button>
                <span style="margin: 0 10px;"></span>
                <input type="hidden" name="_csrf" value="{{token}}"/>
              </div>
            
        </form>
        <a href="/rutine/{{id}}">
        <div class="btn-box"  >
         
            <button class="btnC">
              Cancelar
            </button>

        </div>
        </a>
        </div>
        <div class="col-md-2"></div>
      </div>

    </div>
</body>

</html>