<!DOCTYPE html>
<html>

<head>
    <title>Exercise</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap"
        rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/responsive.css" rel="stylesheet" />
  
    <link rel="icon" type="image/png" href="/images/weightlifter.png">
</head>

<body class="sub_page">
    {{>header}}
    <section class="team_section layout_padding_exercise">
        {{#adEx}}
        <div class="row">
            <div class="col-md-11"></div>
            <div class="col-md-1">
                <div class="downL">
                    <a href="/deleteEx/{{id}}">
                        <button class="btn" type="button" id="generarPDFButton">
                            <i class="bi bi-trash"></i>
                        </button>
                    </a>
                </div>
            </div>
        </div>
        {{/adEx}}
        <div class="container">
            <div class="heading_container heading_left">
                <h2>
                    {{name}}
                </h2>

            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 mx-auto ">
                    <div class="box">

                        <img src="/images/{{image}}" alt="" class="round-image2">

                    </div>
                </div>
                <div class="col-md-7 mx-auto">
                    <div class="contact_section ">
                        <div class="">

                            <div class="contact_form-container">
                                <div>

                                    <div class="description-box">
                                        <label>Descripción:</label>
                                        <p>{{description}}</p>
                                    </div>

                                    <input type="hidden" name="_csrf" value="{{token}}" />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            {{#ExVideo}}
            <div class="videoS">
                <div class="heading_container heading_left">
                    <h2>
                        Vídeo de ayuda
                    </h2>
                    <div class="video-center">
                        <iframe width="560" height="315" src="{{video}}" title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            {{/ExVideo}}
        </div>
        </div>

    </section>

</body>

</html>