<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
  
  
    <title>errorPage</title>
  
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
  
    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap"
      rel="stylesheet" />
  
    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="/css/responsive.css" rel="stylesheet" />
    <style>
      
      </style>
  </head>
<body class="errorBody" >

<div class="error-container">
  <p class="errorP">Volver a la <a class="errorA" href="location.href='/'">Página principal</a> o <span class="errorA"><a onclick="window.history.back()" >Atrás</a></span></p>
    <p class="errorM">Error</p>
    <p class="desE">{{erroMg}}</p>
    
   
</div>

</body>
</html>
