<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />


    <title>muscleGroup</title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap"
        rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="/css/responsive.css" rel="stylesheet" />
</head>

<body class="sub_page">
    {{>header}}   
    <div>      
        <a href="/group/pecho/" class="musC" >
            <div class="layout_paddingPecho">
                <div>
                    <p class="muscle_g">Pecho</p>
                </div>
            </div>
        </a>
    </div>
    <div>
        <a href="/group/espalda/" class="musC">
            <div class="layout_paddingEspalda">
                <div>
                    <p class="muscle_g">Espalda</p>
                </div>
            </div>
        </a>
    </div>
    <div>
        <a href="/group/biceps/" class="musC">
            <div class="layout_paddingBiceps">
                <div>
                    <p class="muscle_g">Biceps</p>
                </div>
            </div>
        </a>
    </div>
    <div>
        <a href="/group/triceps/" class="musC">
            <div class="layout_paddingTriceps">
                <div>
                    <p class="muscle_g">Triceps</p>
                </div>
            </div>
        </a>
    </div>
    <div>
        <a href="/group/hombro/" class="musC">
            <div class="layout_paddingHombro">
                <div>
                    <p class="muscle_g">Hombro</p>
                </div>
            </div>
        </a>
    </div>
    <div>
        <a href="/group/inferior/" class="musC">
            <div class="layout_paddingTorsInf">
                <div>
                    <p class="muscle_g">Tren Inferior</p>
                </div>
            </div>
        </a>
    </div>
    <div>
        <a href="/group/cardio/" class="musC">
            <div class="layout_paddingCardio">
                <div>
                    <p class="muscle_g">Cardio</p>
                </div>
            </div>
        </a>
    </div>
¡
    <!-- team section -->

    
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>