<!DOCTYPE html>
<html>

<head>
    <title>Exercise</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap"
        rel="stylesheet" />
    <link rel="icon" type="image/png" href="/images/weightlifter.png">
</head>

<body class="sub_page">

    {{>header}}

    <section class="team_section layout_padding_progress">

        <div id="GoogleChart-1" class="container-grafico1">
        </div>
    </section>
</body>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="/js/loadCharts.js"></script>
<link href="/css/progress.css" rel="stylesheet" />

</html>