<!DOCTYPE html>
<html>

<head>
  <title>Rutine </title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap"
    rel="stylesheet" />

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
  <link href="/css/style.css" rel="stylesheet" />
  <link href="/css/responsive.css" rel="stylesheet" />
  <link rel="icon" type="image/png" href="/images/weightlifter.png">
</head>

<body class="routineB">


  {{>header}}

  <section class=" layout_padding">
    <div class="row">
      <div class="col-md-11"></div>
      <div class="col-md-1">
        <div class="downL">
          <a href="/pdf/download/{{date}}/{{id}}">
            <button class="btn" type="button" id="generarPDFButton">
              <i class="bi bi-download"></i>
            </button>
          </a>
        </div>
      </div>

    </div>
    <div class="container">
      <div class="heading_container heading_left">
        <h2>
          RUTINA COMPLETA
        </h2>

      </div>

      <div class="row">
        <div class="col-md-4 col-sm-6 mx-auto ">
          <div class="profile-container">
            <img name="imagePath" src="/images/{{imagePath}}" class="rutine-image">

            <div>
              <p name="firstName"><b>{{firstName}}</b></p>
              <p name="name">{{nameUser}}</p>
              <p name="date" id="dateR">{{date}}</p>
            </div>
          </div>
          <section class="comments">
        
              <div class="row">

                <div class="col-md-12">
                  <h1 style="text-align: center;">Comentarios</h1>
                  <div id="container-messages" class="message-container">
                    {{#messages}} 
                      <p class="message-style"><b>{{name}}:</b>
                      {{content}}</p>
                        
                    {{/messages}}
                  </div>
                </div>
                
                

                 

                    <div class="info_form ">

                      <div style="display: flex; margin: auto; flex-wrap: nowrap;">
                        <input id="comment" name="comentario" type="text" class="form-control comF"
                          placeholder="Añade un comentario...">
                        <div class="sendB">
                          <button type="submit" class="btn" onclick="sendComment()">
                            <i class="bi bi-send"></i>
                          </button>
                          <input type="hidden" id="id" name="id" value="{{id}}" />
                        </div>
                      </div>




                    </div>
                  
                
              </div>
          </section>

        </div>
        <div class="col-md-7 mx-auto">
          <table>
            <thead>
              <tr>
                <th colspan="4" class="title">{{pathName}}</th>
              </tr>
              <tr>

                <th> Ejercicio</th>
                <th>Series x Repetición</th>
                <th>Peso</th>
              </tr>
            </thead>
            <tbody>
              {{#exercises}}
              <tr>
                <td>{{exercise}}</td>
                <td>{{series}}</td>
                <td>{{weight}} kg</td>
              </tr>
              {{/exercises}}

            </tbody>
          </table>

  </section>
  <input type="hidden" name="_csrf" value="{{token}}"/>


</body>
<script src="/js/comments.js"> </script>
</html>